<div class="container">
  <div class="row">
    <div class="col-6 offset-3">

      <h2>Modifier les infos du restaurant</h2>
      <br>

      <%= simple_form_for(@restaurant) do |f| %>

        <%= f.input :images, as: :file, input_html: { multiple: true } %>
        <%= f.input :name, label: "Nom du restau", required: true %>
        <%= f.input :title, label: "titre de l'article", required: true %>
        <%= f.input :description, label: "1er avis" %>
        <%= f.input :descriptionDeux, label: "2nd avis" %>
        <%= f.input :address, label: "Adresse du restaurant", required: true %>
        <%= f.input :style, label: "Style du restaurant" , required: true%>
        <%= f.input :rating, label: "ta note", required: true %>
        <div class="form-actions">
          <%= f.button :submit, "Actualiser l'article" %>
          <%= link_to "Retour", restaurant_path  %>
        </div>
      <% end %>
    </div>
  </div>
</div>


