<div class="banner2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1549881464-ddb24b85533d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1300&q=80); background-size: cover">


  <!-- ---------3 last-------------- -->

  <div class="container">
    <div class="intro">
      <h1>Nos dernières <strong>découvertes</strong></h1>
      <p>Chaque mois un nouveau restaurant se rajoute à notre liste</p>
      <% if current_user.nil? %>
      <% elsif current_user.superadmin_role? || current_user.supervisor_role? %>
        <%= link_to "Nouveau post", new_restaurant_path %>
      <% end %>
    </div>

    <div class="cards">
    <% @restaurants.last(3).each do |restaurant| %>
      <div class="card-trip">
        <%= cl_image_tag restaurant.images[0].key %>
        <div class="card-trip-infos">
          <div>
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.style %></p>
            <div class="hl1line"></div>
            <h3><%= restaurant.description[0, 40] %>...</h3>
            <a class="btn btn-flat" <%= link_to "Lire la suite", restaurant_path(restaurant) %></a>
            <% if current_user.nil? %>
            <% elsif current_user.superadmin_role? || current_user.supervisor_role? %>
              <a class="btn btn-flat"<%= link_to "Supprimer", restaurant_path(restaurant), method: :delete, data: {
                confirm: "C'est ton dernier mot?" } %></a>
            <% end %>
          </div>
          <h4 class="card-trip-pricing"><%= restaurant.rating %>/10</h4>
          <div class="card-trip-user avatar-bordered">

          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
    <!-- -------top 3----------- -->
  <div class="top3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/3826435/pexels-photo-3826435.jpeg?cs=srgb&dl=pexels-cottonbro-3826435.jpg&fm=jpg);">
    <div class="container">
      <div class="intro">
        <h1>Notre <strong>top</strong> 3</h1>
        <p>Ne manquez pas nos 3 restaurants préférés du moment !</p>
      </div>

      <div class="cards">
      <% @restaurants.where(rating: 9..10).last(3).each do |restaurant| %>
        <div class="card-trip">
          <%= cl_image_tag restaurant.images[0].key %>
          <div class="card-trip-infos">
            <div>
              <h2><%= restaurant.name %></h2>
              <p><%= restaurant.address %></p>
              <p><%= restaurant.style %></p>
              <div class="hl1line"></div>
              <h3><%= restaurant.description[0, 40] %>...</h3>
              <a class="btn btn-flat" <%= link_to "Lire la suite", restaurant_path(restaurant) %></a>
              <% if current_user.nil? %>
              <% elsif current_user.superadmin_role? || current_user.supervisor_role? %>
                <a class="btn btn-flat"<%= link_to "Supprimer", restaurant_path(restaurant), method: :delete, data: {
                confirm: "C'est ton dernier mot?" } %></a>
            <% end %>
            </div>
            <h4 class="card-trip-pricing"><%= restaurant.rating %>/10</h4>
            <img src="https://pbs.twimg.com/profile_images/3252299897/a88b1777917d9d1a07ccfd8fb09979f2_400x400.jpeg" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    </div>
    </div>
  </div>

    <!-- -------list de tous les restau----------- -->
  <div class="container">
    <div class="intro">
      <h1>Où sommes nous allés ?</h1>
      <p>Voilà la liste des <strong>restaurants</strong> où nous sommes allés</p>
    </div>

    <div class="cards">
    <% @restaurants.each do |restaurant| %>
      <div class="card-trip">
        <%= cl_image_tag restaurant.images[0].key %>
        <div class="card-trip-infos">
          <div>
            <h2><%= restaurant.name %></h2>
            <p><%= restaurant.address %></p>
            <p><%= restaurant.style %></p>
            <div class="hl1line"></div>
            <h3><%= restaurant.description[0, 40] %>...</h3>
            <a class="btn btn-flat" <%= link_to "Lire la suite", restaurant_path(restaurant) %></a>
            <% if current_user.nil? %>
            <% elsif current_user.superadmin_role? || current_user.supervisor_role? %>
              <a class="btn btn-flat"<%= link_to "Supprimer", restaurant_path(restaurant), method: :delete, data: {
                confirm: "C'est ton dernier mot?" } %></a>
            <% end %>
          </div>
          <h4 class="card-trip-pricing"><%= restaurant.rating %>/10</h4>
          <img src="https://pbs.twimg.com/profile_images/3252299897/a88b1777917d9d1a07ccfd8fb09979f2_400x400.jpeg" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
    </div>
  </div>
  </div>
</div>
