<!-----------Banner------------>

<div class="bannershow jarallax" data-jarallax data-speed=".8" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @restaurant.images[0].key %>);">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="container">
          <div class="intro">
            <h1><%= @restaurant.name %></h1>
            <p><%= @restaurant.style %></p>
            <p><%= @restaurant.address %></p>
            <p>Par <%= @restaurant.user.name %></p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container">
  <div class="postTitle">
    <h2>"<%= @restaurant.title %>"</h2>
    <p>Article publié le <%= @restaurant.created_at.strftime("%d-%m-%Y à %k:%M") %> </p>
    <hr>
  </div>

      <!-----------descritpion------------>

  <div class="body-container">
    <div class="presentation">

      <p>"<%= @restaurant.description %>"</p>
      <p><%= @restaurant.rating %>/10</p>
<!--       <p><%= cl_image_tag @restaurant.images[0].key %></p>
 -->
    </div>
      <!-----------Carousel------------>
    <div class="slider">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @restaurant.images.each do |image| %>
            <% if image == @restaurant.images.first %>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
              <%= cl_image_tag image.key, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
<br>
<hr>
<!-----------commentaires------------>
      <div class="review">
        <h2>Ce que vous en pensez</h2>
        <p>Si vous avez des commentaires ou des demandes particulières</p>
        <br>
        <div class="bouton">
        <%= link_to "poster un commentaire", new_restaurant_review_path(@restaurant)  %>
        </div>
        <br>
        <ul class="list-group">
            <% @restaurant.reviews.each do |review| %>
              <li class="list-group-item">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag "#{current_user.photo.key}", width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                   <%= image_tag current_user.gender == "Homme" ? "avatar_homme.jpg" : "avatar_femme.png", width: 40, height: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %> <br>
                <h8><%= current_user.name %></h8>
                <p>le <%= review.created_at.strftime("%d-%m-%Y à %k:%M") %></p>
                <h5><%= review.content %></h5>
                <%= link_to "Supprimer", review_path(review), method: :delete, data: { confirm: "Are you sure?" }  %>
             </li>
            <% end %>
        </ul>
      </div>



      <br>
      <% if current_user.nil? %>
      <% elsif current_user.superadmin_role? || current_user.supervisor_role? %>
        <%= link_to "Modifier l'article", edit_restaurant_path(@restaurant) %>
      <% end %>
      <%=  %>



</div>

